@{
    ViewBag.Title = "About";
}
<!DOCTYPE html>
<html>
<head>
    <title>Facebook Login JavaScript Example</title>
    <meta charset="UTF-8">
</head>
<body>
    <br />
    <br />
    Clanovi tima:
    <ul>
        <li>Stanko Katic</li>
        <li>Ivan Kresic</li>
        <li>Erik Percic</li>
    </ul>
    Koristene tehnologije: ASP.NET, Facebook API, MongoDB
</body>
</html>
