@{
    ViewBag.Title = "Home Page";
    
}

<div id="UserData"></div>  
<div id="UserMovies"></div>
<div id="Test"></div>

<div id="zamolba"><br /><br /><center>Molimo se prijavite u sustav</center></div>
<div style="margin-left:40%;margin-top:10%;" scope="public_profile, email, user_friends, user_birthday, user_hometown, user_likes, user_relationships" class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="true" onlogin="checkLoginState(); showData(); waitMe();"></div>
